body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif
}

.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif
}

.fa-bank,
.fa-coffee {
  font-size: 200px;
  color: #659DBD
}

.header {
  background-image: url("images/bookshelf.jpg");
  filter: contrast()
}

h1 {
  color: white
}

.w3-top {
  background-color: #659DBD
}

.semi-header {
  color: white
}

.sub-text,
.info {
  font-size: 20px;
}

.secondary-header {
  color: black;
}

.about-info {
  text-align: left;
}

h2 {
  text-align: center;
}

.social {
  text-decoration: none;
}